.root {
    background-color: var(--primary);
    border-radius: var(--br-large);
    padding: 24px;
}

.root:nth-child(even) {
    background-color: var(--secondary);
}

.title {
    margin-bottom: 8px;
}

.text {
    color: var(--light-grey);
}
