.root {
    position: relative;
    background-image: url('/images/faq-bg-mob.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }

    &::before {
        top: 0;
        height: 220px;

        @media screen and (min-width: 768px) {
            height: 575px;
        }
    }

    &::after {
        bottom: 0;
        height: 113px;
        transform: rotate(180deg);

        @media screen and (min-width: 768px) {
            height: 334px;
        }
    }
}

.inner {
    padding: 52px 0 200px;

    @media screen and (min-width: 768px) {
        padding: 85px 0 160px;
    }
}

.title {
    text-align: center;
    margin-bottom: 45px;

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.itemsSwiper {
    padding: 0 20px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
