.inner {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--indent);
    min-height: 56px;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: var(--br-small);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;

    @media screen and (min-width: 768px) {
        border-radius: var(--br-medium);
        padding: 18px;
        min-height: 90px;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 28px;

    @media screen and (min-width: 768px) {
        gap: 10px;
        font-size: 46px;
    }
}

.icon {
    width: 24px;
    height: 24px;
    object-fit: contain;

    @media screen and (min-width: 768px) {
        width: 38px;
        height: 38px;
    }
}

.button {
    font-family: var(--geologica);
    min-height: 35px;
    min-width: 112px;
    font-size: 12px;
    border-radius: var(--br-small);

    & svg {
       width: 15px;
        height: 15px;
    }

    @media screen and (min-width: 768px) {
        font-size: 20px;
        min-height: 54px;
        min-width: 180px;
        border-radius: var(--br-medium);

        & svg {
            width: 24px;
            height: 24px;
        }
    }
}
