.root {
    position: relative;
    background-image: url('/images/ecosystem-main-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    &::after,
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 334px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }

    &:before {
        top: 0;
    }

    &::after {
        transform: rotate(180deg);
        bottom: 0;
    }

    @media screen and (min-width: 768px) {
        /*background-position: top 140px center;*/
    }
}

.inner {
    z-index: 1;
    position: relative;
    padding-bottom: 250px;

    @media screen and (min-width: 768px) {
        padding-bottom: 120px;
    }
}

.title {
    text-align: center;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 110px;
    }
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    gap: 32px;
    grid-auto-rows: min-content;
}

.itemsSwiper {
    padding: 0 20px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tentacleTopLeft,
.tentacleTopRight {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.tentacleTopLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 454px;
    height: 549px;
}

.tentacleTopRight {
    position: absolute;
    top: 0;
    right: 0;
    width: 334px;
    height: 536px;
}

.ship {
    position: absolute;
    bottom: 0;
    right: 0;

    @media screen and (min-width: 768px) {
        width: 575px;
    }
}
