.root {
    min-height: calc(100vh - 106px);
    background-image: url('/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        min-height: calc(100vh - 102px);
    }
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;

    @media screen and (min-width: 768px) {
        padding-top: 0;
    }
}

.logo {
    width: 100%;
    height: auto;

    @media screen and (min-width: 768px) {
        max-width: 50%;
    }
}
