.root {
    position: relative;
    background-image: url('/images/hero-bg-mob.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        background-image: url('/images/hero-bg.png');
        padding-top: 177px;
    }

    @media screen and (min-width: 1024px) {
        padding-bottom: 180px;
    }
}

.root::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 232px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.root::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 232px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.inner {
    @media screen and (min-width: 768px) {
        margin: 0;
    }

    @media screen and (min-width: 1024px) {
        display: grid;
        /*grid-template-columns: 530px 1fr;*/
        grid-template-columns: 585px 1fr;
        gap: 120px;
    }
}

.heroImage {
    z-index: 1;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.krakenImage {
    width: 297px;

    @media screen and (min-width: 768px) {
        width: 650px;
    }

    @media screen and (min-width: 1024px) {
        width: auto;
    }
}

.krakenLogo {
    position: absolute;
    top: 105px;
    left: -14px;
    right: -14px;
    width: 326px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        top: 227px;
        left: -31px;
        right: -31px;
        width: 711px;
    }

    @media screen and (min-width: 1024px) {
        top: 45%;
        width: auto;
    }
}

.content {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1024px) {
        order: -1;
    }
}

.title {
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1024px) {
        text-align: start;
    }
}

.text {
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1024px) {
        text-align: start;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;

    @media screen and (min-width: 1024px) {
        justify-content: flex-start;
    }
}

.buy {
    width: 226px;
}

.tentacleTop,
.tentacleBottom {
    z-index: 0;
    position: absolute;
}

.tentacleTop {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        top: 0;
        right: 0;
        max-width: 25%;
    }
}

.tentacleBottom {
    display: none;
    right: 0;
    bottom: 0;
    max-width: 60%;

    @media screen and (min-width: 768px) {
        display: block;
        bottom: 0;
        max-width: 60%;
    }
}
