.root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-family: inherit;
    justify-content: center;
    gap: 8px;
    background-color: var(--secondary);
    border-radius: var(--br-medium);
    padding: 8px 16px;
    border: none;
    color: var(--white);
    font-size: 20px;
    line-height: 120%;
    transition: var(--tr-default);

    & svg {
        color: var(--light);
        transition: var(--tr-default);
    }

    &:active {
        background-color: var(--primary);
    }

    &:disabled {
        color: var(--light);
        border: 1px solid var(--light);
        background-color: var(--secondary);
    }



    @media (hover: hover) {
        &:hover:not(:disabled),
        &:focus:not(:disabled) {
            background-color: var(--secondary);

            & svg {
                color: var(--white);
            }
        }
    }
}

.light {
    background-color: var(--primary);

    &:active {
        background-color: var(--secondary);
    }
}

.locked {
    width: 26px;
    height: 26px;
}
