.root {
    position: relative;
    background-image: url('/images/hero-bg-mob.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    overflow: hidden;
    min-height: 572px;

    @media screen and (min-width: 768px) {
        background-image: url('/images/hero-bg.png');
        padding-top: 177px;
    }

    @media screen and (min-width: 1024px) {
        padding-bottom: 180px;
    }
}

.root::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 232px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.root::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 232px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.inner {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 530px;
    margin: 0 auto;
}

.image {
    width: 292px;
    height: 264px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 56px;
    filter: drop-shadow(14px 11px 33px rgba(0, 0, 0, 0.5));
}

.imageWide {
    width: 325px;
}

.title {
    margin-bottom: 16px;
}

.text {
    font-family: var(--geologica);
    text-align: center;
    white-space: pre-wrap;
}

.children {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}
