.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--indent);
    flex-wrap: wrap;
    padding: 60px;

    @media screen and (min-width: 768px) {
        gap: 60px;
    }
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
    max-height: 40px;
    transition: var(--tr-default);

    @media (hover: hover) {
        &:hover,
        &:focus {
            transform: scale(1.2);
        }
    }
}
