.inner {
    padding: 60px 0;
}

.title {
    text-align: center;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
}

.list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.item {
    font-size: 20px;
    flex-grow: 1;
    padding: var(--indent);
    text-align: center;

    & br {
        display: none;
    }

    &:not(:last-child) {
        border-bottom: 1px solid var(--grey);
    }

    @media screen and (min-width: 768px) {
        font-size: 30px;

        & br {
            display: initial;
        }

        &:not(:last-child) {
            border-bottom: none;
            border-right: 1px solid var(--grey);
        }
    }
}
