.root {
    background-color: var(--black);
}

.kraken {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('/solana.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 335px;
}

.krakenInner {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: var(--dark-hornet-italic);
    color: var(--purple-dark);
    font-size: 29px;
    line-height: 177%;
}

.krakenImage {
    width: 251px;
    height: 245px;

    & img {
        width: 100%;
        height: auto;
    }
}

.tokenImg {
    min-width: 1536px;
    object-position: center;
    width: 100%;
    height: auto;
}

.inner {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        padding: 32px 0;
        justify-content: space-between;
    }
}

.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.navList {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navLink {
    color: var(--grey);
    font-size: 20px;
    transition: var(--tr-default);

    &:active {
        opacity: 0.6;
    }

    @media (hover: hover) {
        &:hover,
        &:focus {
            color: var(--white);
        }
    }
}
