.root {
    position: relative;
    font-family: var(--dark-hornet-italic);
    color: var(--white);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--purple-medium);
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(84, 64, 226, 0.34);
}

.noShadow {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
    text-shadow: none;
}

.large {
    font-size: 48px;

    @media screen and (min-width: 768px) {
        font-size: 65px;
    }
}

.big {
    font-size: 36px;

    @media screen and (min-width: 768px) {
        font-size: 46px;
    }
}

.medium {
    font-size: 36px;
    line-height: 1;
}

.small {
    font-size: 24px;
}

.extra-small {
    font-size: 20px;
    line-height: 130%;

    @media screen and (min-width: 768px) {
        font-size: 25px;
    }
}